<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="#">Main</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">My comparison</a>
    </li>
</ul>